@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo a Abisdas.Mike-Store </h1>
    <p>Qual tenis você gostaria de comprar hoje?</a>.</p>
    <P> </P>
</div>
